{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "plugins": ["prettier"],
  "rules": {
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/prop-types": 0,
    "no-underscore-dangle": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "react/prefer-stateless-function": 0,
    "react/destructuring-assignment": ["always", { "ignoreClassFields": true }],
    "react/no-access-state-in-setstate": "warn",
    "react/jsx-no-bind": [1, {
      "allowBind": true,
      "allowArrowFunctions": true
    }]
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "FormData": true,
    "FileReader": true,
    "Blob": true,
    "navigator": true
  },
  "parser": "babel-eslint"
}
